<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Food Store</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">

        <a href="/cart">خرید🛒</a>

        <div class="logo">

            <img 
                src="{{ url_for('static', filename='images/logo1.png') }}" 
                alt="Logo"
            >

        </div>

        <div class="menu-toggle" id="mobile-menu">

            ☰

        </div>

        <ul class="nav-links">

            <li><a href="/">Home</a></li>

            <li><a href="#">Products</a></li>

            <li><a href="#">Categories</a></li>

            <li><a href="#">Contact</a></li>

        </ul>

    </nav>

    <section class="hero">

        <h1>Fresh Groceries Delivered Fast</h1>

        <p>
            Simple online grocery shopping for local customers.
        </p>

        <button>
            Shop Now
        </button>

        <section class="search-section">

            <form method="GET" action="/">

                <input
                    type="text"
                    name="search"
                    placeholder="Search products..."
                    value="{{ request.args.get('search', '') }}"
                >

                <button type="submit">
                    Search
                </button>

            </form>

        </section>

    <div class="categories">

        <a href="/">
            All
        </a>

        {% for category in categories %}

            <a href="/?category={{ category['id'] }}">

                {{ category["name"] }}

            </a>

        {% endfor %}

    </div>

    <section class="products">

    <h2>Popular Products</h2>


    {% if not products %}

        <p class="no-products">

            ! محصولی یافت نشد !

        </p>

    {% endif %}


    <div class="product-grid">

        {% for product in products %}

        <div class="product-card">

            <img 
                src="{{ url_for('static', filename='images/' + product.image) }}" 
                alt="{{ product.name }}"
            >

            <h3>{{ product.name }}</h3>

            <p class="price">{{ product.price }}</p>

            <a href="/product/{{ product.id }}">

                <button>
                    View Product
                </button>

            </a>

            <a href="/add-to-cart/{{ product.id }}">

                <button>
                    Add To Cart
                </button>

            </a>

        </div>

        {% endfor %}

    </div>

    </section>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>